@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,900&display=swap');

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s linear;
}
html{
  font-size: 62.5%;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

#root {
  height: 100%;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}
header .logo{
  font-size: 2rem;
  color: #000;
  font-weight: 500;
}
header .navbar a{
  font-size: 1.5rem;
  color: #000;
  margin: 0 2rem;
}
header .navbar a:hover{
  color: orangered;
}
header .icons a{
  font-size: 2rem;
  color: #000;
  margin-left: 1.5rem;
}
header .icons a:hover{
  color: orangered;
}
#menu-bar{
  font-size: 2rem;
  padding: .5rem 1rem;
  border: .1rem solid #000;
  color: #000;
  border-radius: .3rem;
  cursor: pointer;
  display: none;
}
/* end header  */

section{
  padding: 7rem 9%;
}
.btn{
  display: inline-block;
  margin-top: 1rem;
  border-radius: .5rem;
  border: .2rem solid #000;
  font-weight: bolder;
  font-size: 1.7rem;
  color: #000;
  cursor: pointer;
  background: #fff;
  padding: .8rem 3rem;
}

.heading{
  text-align: center;
  font-size: 3rem;
  padding: 10px;
  font-weight: bolder;
  text-transform: uppercase;
}
.heading span{
  color: rgb(252, 118, 69);
}
.product .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.product .box-container .box{
  border: .1rem solid rgba(0, 0, 0, .1);
  border-radius: .5rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: #f5f5f5;
  flex: 1 1 30rem;
}
.product .box-container .content{
  padding: 1.5rem;
}
.product .box-container .box img{
  height: 20rem;
  transform: rotate(-35deg);
  margin: 8rem 2rem;
}
.product .box-container .box:hover img{
  transform: rotate(-35deg) scale(1.2);
}
.product .box-container .box .icons{
  display: flex;
  flex-flow: column;
  position: absolute;
  top: .5rem;
  left: 1rem;
}
.product .box-container .box .icons a{
  text-decoration: none;
  height: 4.5rem;
  width: 5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  color: #000;
  border: .1rem solid #000;
  border-radius: .5rem;
  background: #fff;
  margin-top: .5rem;
}
.product .box-container .box .icons{
  display: flex;
  flex-flow: column;
  position: absolute;
  top: .5rem;
  left: -10rem;
}
.product .box-container .box:hover .icons{
  left: 1rem;
}
.product .box-container .box .icons a:hover{
  color: orangered;
  color: rgb(95, 95, 95);
}
.product .box-container .box .content h3{
  color: #000;
  font-size: 2.5rem;
  margin-bottom: -1rem;

}

.product .box-container .box .content p{
  margin-bottom: 0rem;
}
.product .box-container .box .content .price{
 justify-content: center;
  color: #000;
  font-size: 2.5rem;
  font-weight: bolder;
  padding: 1rem 0;
}
.product .box-container .box .content .price span{
  color: #000;
  font-size: 1.5rem;
  text-decoration: line-through;
}
.product .box-container .box .content .stars{
  padding-bottom: 1rem;
}
.product .box-container .box .content .stars i{
  font-size: 1.7rem;
  color: orangered;
}
/* end product  */

.cridet .box{
  padding: .1rem;
  text-align: center;
  background-color: #F5F5F5; ;
}
.cridet .box h3{
  font-size: 2rem;
}


/* Responsive  */
@media (max-width:768px){
    #menu-bar{
        display: block;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: -120%;
        width: 100%;
        background: #eee;
        border-top: .1rem solid rgba(0, 0, 0, .1);
    }
    header .navbar a{
        font-size: 2rem;
        background: #fff;
        border: .1rem solid #000;
        border-radius: .5rem;
        padding: 1rem;
        margin: 1rem;
        display: block;
        text-align: center;
    }
    header .navbar.active{
        left: 0;
    }
}


@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

/* ******************************************************
	Expanding Search Bar - CSS Only Version
*********************************************************/


.fa-search{
  font-size: 2rem;
}
.expSearchFrom {
    border: 3px solid rgb(255, 255, 255);
    display: inline-block;
    position: relative;
    cursor: pointer;
}
input#field{
	cursor:pointer;
    border:none;
    background:transparent;
    height:30px;
    width:0px;
    line-height:0px;
    vertical-align:top;
    padding:0px 15px;
    -webkit-transition: width .5s; /* Safari */
    transition: width .5s; 
    position:relative;
    z-index:2;
   color:rgb(0, 0, 0);
    }
input#field:focus{
    width:200px;
    outline:none;    
    border-bottom: 3px solid rgb(0, 0, 0);

    margin-right:30px;
}


input#field:focus +  span.back{
    -webkit-transition: .5s .7s ease-in-out ;
    -moz-transition: .5s .7s ease-in-out;
    -o-transition: .5s .7s ease-in-out;
    transition: .5s .7s ease-in-out;    
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity:1;
}

/* Page > ProductDetail */
.productdetail{
  max-width: 1300px;
  width: 100%;
  margin: 100px auto;
  box-shadow: 0 0 5px #ccc;
  font-size: 1.7rem;
  margin-top:19rem;
}
a{
  text-decoration:none;
  }
.fa-arrow-left{
  margin-left:2rem;
  margin-right:2rem;
}
.details{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px 0;
}
.details .big-img{
  max-width: 500px;
  min-width: 290px;
  overflow: hidden;
  margin: 25px;
}
.big-img img{
  width: 100%;
  height: 100%;
  max-height: 400px;
  display: block;
  object-fit: cover;
}

.details .box{
  max-width: 500px;
  min-width: 290px;
  margin: 25px;
}
.box .row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.box .row h2{
  text-transform: uppercase;
  letter-spacing: 2px;
}

.box .brand {
  border: 1px solid #ccc;
  width: 30%;
  padding: .8rem;
  text-align:center;
  font-weight: bolder;

}
.box .row span{
  color: crimson;
  font-weight: bolder;
  font-size: 5rem;
}
.box p{
  line-height: 1.5;
  margin: 15px 0;
}

.box .cart{
  background: #333;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px 25px;
  margin-top: 15px;
  font-weight: bold;
}



.stars i {
  font-size: 1.7rem;
  color: orangered;
}

.success{color:green;}
.error{  color: crimson;}
.dflex{display:flex;}
select{margin: 2rem 4rem;
padding: .5rem;}
/* MessageBox */
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}


/*HEADER*/
#lblCartCount {
  font-size: 17px;
  background: #ff0000;
  color: #fff;
  padding: 10 15px;
  vertical-align: top;
  margin-left: -10px;
}
.badge {
padding-left: 9px;
padding-right: 9px;
-webkit-border-radius: 9px;
-moz-border-radius: 9px;
border-radius: 9px;
}

.label-warning,
.badge-warning {
background-color: #c67605;
}

/*Cart*/

.wrapper{
  display: flex;
  margin: 10rem ;
}

.wrapper_content{
  width: 50%;
  height: auto;
  padding: 15px;
  margin: 50px 0;
  position: relative;
  margin-left: 50px;
}

.wrapper_amount{
  width: 50%;
  height: auto;
  padding: 15px;
  margin: 50px 0;
  position: relative;
  margin-right: 50px;
}

.header_title{
  display: flex;
  justify-content: space-between;
  width: 560px;
  margin: 0 auto;
  margin-bottom: 15px;
  font-size: 20px;
}

.product_wrap,.price_details{
  width: 560px;
  margin: 0 auto;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);

}

.product_info{
  display: flex;
  align-items: center;
}

.product_data{
  margin: 0 10px;
}

.description{
  margin-bottom: 15px;
}
.product_img img{
  display: block;
}

.main_header{
  font-weight: 700;
}

.sub_header{
  color: rgb(255, 0, 43);
}

.product_btns{
  display: flex;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #e4e4e4;
  color: #aca9a9;
}

.product_btns > div{
  padding : 5px 15px;
  cursor: pointer;
  
 
}

.product_btns > div:hover{
  background-color: #efefef;
  border-radius: 3px ;
  color: black;
  font-weight: 700;
}

.remove{
  width: 100%;
font-weight: bold;
}

.whishlist{
  width: 60%;
}

.qty , .price{
  display: flex;
  margin-bottom: 10px;
}

.qty  > div {
  background-color: #e4e4e4;
  margin-right: 10px;
  padding: 5px 20px;
  font-weight: 700;
  border-radius: 3px;
  padding-right: 25px;
  position: relative;
  cursor: pointer;
}

.qty  > div::before{
  content: "";
  top:13px;
  right: 8px;
  position: absolute;
  border: 5px solid;
  border-color: #000 transparent transparent transparent;
}

.current_price{
  font-weight: 700;
  margin-right: 10px;
}

.normal_price{
  color: #adadad;
  margin-right: 10px;
  text-decoration: line-through;
}

.discount{
  color: #f16565;
}

.wrapper_amount{
  width: 50%;
  
}

.price_details .item,.total,.coupon{
  display: flex;
  justify-content: space-between;
}

.price_details .item{
  margin-bottom: 10px;
}

.price_details .coupon{
  margin-top: 20px;
}

.price_details .total{
  padding-top: 10px;
  border-top: 1px solid #e4e4e4 ;
  font-weight: 700;
  margin-top: 20px;
}

.price_details .coupon button{
  color: #000000;
  background-color: #efefef;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  font-size: 2rem;
  text-transform: uppercase;
}

.price_details .coupon input{
margin : 2rem 0 2rem 0;
}
.price_details .coupon button:hover{
  font-weight: bolder;
}

.slider.active{
  display: block;
}

.slider{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
}

.slider .bg_shadow{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.7;
}

.slider .select_size,.select_quantity{
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
}

.slider .header{
  padding:10px 15px 0;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.close{
  cursor: pointer;
}



.checkout{
  padding: 10px 15px;
  background-color: #000000;
  width: 560px;
  margin: 10px auto;
  text-align: center;
  cursor: pointer;
}

.checkout_btn{
  color: #fff;
  width: 100%;
  display: block;
}

.cart_navigation{
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

.cart_logo{
  padding: 10px;
  margin: 1px 10px;
  margin-right: 110px;
}

.cart_logo i{
  font-size: 50px;
 color: black;
}

.middle_content{
  font-weight: 700;
  letter-spacing: 3px;
  margin: auto;
  display: flex;
}

.bag{
  color: #20BD99;
 
}

.secure{
  display: flex;
  margin: auto 0;
  font-weight: 700;
  margin-right: 10px;
}

.secure i{
  font-size: 35px;
  color: #20BD99;
}

.secure p{
  margin: auto 5px;
}

@media screen and (max-width:1100px) {
  .wrapper{
      flex-direction: column;
  }

  .wrapper_amount{
      margin: -20px 50px;
  }

  .slider{
      width: 173%;
  }
  
  .bag{
      display: none;
  }

  .payment{
      display: none;
  }

  .address{
      display: none;
  }
  
  
}